.Hero {
    display: flex;
    justify-content: space-between;
}

.left-h {
    padding: 2rem;
    padding-top: 1.5rem;
    flex: 3;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.right-h {
    flex: 1;
    position: relative;
    background-color: var(--orange);
}

.the-best-ad {
    display: flex;
    margin-top: 4rem;
    border-radius: 4rem;
    background-color: #363d42;
    width: fit-content;
    padding: 20px 13px;
    color: white;
    text-transform: uppercase;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

.the-best-ad>span {
    z-index: 2;
}

.the-best-ad>div {
    display: flex;
    position: absolute;
    height: 80%;
    width: 5.4rem;
    background-color: var(--orange);
    border-radius: 3rem;
    left: 8px;
    z-index: 1;

}

.hero-text {
    display: flex;
    flex-direction: column;
    color: white;
    text-overflow: inherit;
    gap: 1.5rem;
    font-size: 4.5rem;
    font-weight: bold;
    text-transform: uppercase;

}

.hero-text>div:nth-of-type(3) {
    font-size: 1rem;
    font-weight: 200;
    text-transform: none;
    letter-spacing: 1px;
    width: 80%;
}

.figures {
    display: flex;
    gap: 2rem;
}

.figures>div {
    display: flex;
    flex-direction: column;
}

.figures>div>span:nth-of-type(1) {
    color: white;
    font-size: 2rem;
}

.figures>div>span:nth-of-type(2) {
    color: var(--gray);
    text-transform: uppercase;
}

.hero-button {
    display: flex;
    gap: 1rem;
    font-weight: normal;
}

.hero-button>:nth-child(1) {
    color: white;
    background-color: var(--orange);
    width: 8rem;
}

.hero-button>:nth-child(2) {
    color: white;
    background-color: transparent;
    width: 8rem;
    border: 2px solid var(--orange);
}

.right-h>.btn {
    position: absolute;
    top: 2rem;
    right: 3rem;
    color: black;
}

.heart-rate {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--darkGrey);
    width: fit-content;
    padding: 1rem;
    align-items: flex-start;
    position: absolute;
    top: 7rem;
    right: 4rem;
    border-radius: 5px;
}

.heart-rate>img {
    width: 2rem;
}

.heart-rate>span:nth-of-type(1) {
    color: var(--gray);
}

.heart-rate>span:nth-of-type(2) {
    color: white;
    font-size: 1.5rem;
}

.hero_image {
    position: absolute;
    top: 10rem;
    right: 8rem;
    width: 23rem;
    z-index: 1;
}

.hero_image_back {
    position: absolute;
    top: 4rem;
    right: 20rem;
    width: 15rem;
}

.calories {
    display: flex;
    gap: 2rem;
    background-color: var(--caloryCard);
    width: fit-content;
    padding: 1rem;
    align-items: flex-start;
    position: absolute;
    top: 32rem;
    right: 28rem;
    border-radius: 5px;

}

.calories>img {
    width: 3rem;
}

.calories>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calories>div>span:nth-of-type(1) {
    color: var(--gray);
}

.calories>div>span:nth-of-type(2) {
    color: white;
    font-size: 1.5rem;
}

.blur-hero {
    width: 22rem;
    height: 30rem;
    left: 0;
}

@media screen and (max-width:768px) {
    .Hero {
        flex-direction: column;
    }

    .blur-hero {
        width: 14rem;
    }

    .the-best-ad {
        font-size: small;
        align-self: center;
        margin-top: 0;
        transform: scale(0.8);
    }
    .hero-text{
        font-size: xx-large;
        align-items: center;
        justify-content: center;
    }
    .hero-text>div:nth-of-type(3){
        font-size: small;
        font-weight: 200;
        letter-spacing: 1px;
        text-align: center;
    }
    .hero-button{
        justify-content: center;
    }
    .figures>div>span:nth-of-type(1){
        font-size: small;
    }
    .figures>div>span:nth-of-type(2){
        font-size: small;
    }
    .right-h{
        background: none;
        position: relative;
    }
    .heart-rate{
        left: 1rem;
        top: 0rem;
        
    }
    .calories{
        position: relative;
        top: 5rem;
        left: 2rem;
    }
    .calories>img{
        width: 2rem;
    }
    .calories>div>:nth-child(2){
        color: white;
        font-size: 1rem;
    }
    .hero_image{
        position: relative;
        width: 15rem;
        left: 7rem;
        top: 5rem;
        align-self: center;
    }
    .hero_image_back{
        width: 15rem;
        left: 2rem;
        top: 0rem;
        z-index: -1;
    }


}